extends /layouts/application.pug

block content
  a(href=urlFor('newTaskStatus') class='m-2 d-block') Add Task Status
  table.table.table-stripped
    thead
      tr
        th Name
        if isSignedIn()
          th Actions
    tbody
      each taskStatus in taskStatuses
        tr
          td= taskStatus.name
          if isSignedIn()
            td
              a(href=urlFor('editTaskStatus', taskStatus.id)) Update
              |
              | /
              |
              a.confirm(
              href=urlFor('deleteTaskStatus', taskStatus.id)
              data-confirm="Are you sure?"
              data-method='delete'
              rel='nofollow'
              ) Delete

